{
    "port": 25565,
    "motd": "§6Server has moved!",
    "kickmessage": "§c§lThis server has moved!\n§r§eJoin the server on the new IP: §aexample.com",
    "version": "1.19.2",
    "encryption": true,
    "online-mode": false
}